/* Homepage */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    font-size: 18px;
}

.logo {
    width: 200px;
    height: inherit;
    padding: 10px;
    margin: 0 4%;
}

.company-name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 2.6rem;
    color: #006745;
    font-family: Arial;
    padding: 3%;
    font-weight: bold;
    line-height: 1.2;
}

/*
hr {
    border: 2px solid black;
    margin: 0;
}
*/

header {
    background-color: #CFECDD; /* old color was rgba(245, 242, 242) */
    margin: 0;
    height: 275px;
}


body {
    background-color: #ffffff; /* old color was same as header */
}

.buttons {
    display: flex;
    position: relative;
  
}

#first-button, #second-button, #third-button {
    border: 4px solid black;
    width: 30%;
    margin: 3% auto;
    display: inline;
    height: 300px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10%; /* border-radius : 2rem = square */
    cursor: pointer;
    font-weight: bold;
}

/* Makes button green when hover
#first-button:hover, #second-button:hover, #third-button:hover {
    background-color: #006745;
}
*/

.patient {
    height: 100%;
    width: 100%;
    border-radius: 10%; /* border-radius : 2rem = square */
    opacity: 0.2;
    z-index: 1;
}

.caregiver {
    height: 100%;
    width: 100%;
    border-radius: 10%; /* border-radius : 2rem = square */
    opacity: 0.2;
    z-index: 1;
}

.referral {
    height: 100%;
    width: 100%;
    border-radius: 10%; /* border-radius : 2rem = square */
    opacity: 0.2;
    z-index: 1;
}

#name {
    position: absolute;
    top: 44%;
    bottom: 10%;
    text-align: center;
    width: 30%;
    font-size: 2rem;
    z-index: 2;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
}

#name:visited {
    text-decoration: none;
    color: #ffffff;
}

#name:hover {
    color: #006745; /* Changes color of text to green when hover */
}

.content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    line-height: 1.5;
    border: 3px solid #006745;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: Calibri, Arial;
}

#bold {
    color: #006745;
    font-size: 1.6rem;
    font-weight: bold;
}

#footer-hr {
    margin-top: 3rem;
    margin-bottom: 0.75rem;
    border: 1px solid #006745;
}

footer {
    margin: auto;
    width: 100%;
    font-size: 90%;
}

#information {
    width: 95%;
    padding-left: 1%;
    text-decoration: none;
    line-height: 1.5;
    font-weight: bold;
}

#contact-info {
    color: #006745;
    font-size: 1.2rem;
    font-family: Calibri, Arial;
}

#phone {
    text-decoration: none;
    color: #999999;
    font-family: Calibri, Arial;
    font-size: 1.1rem;
}

#phone:hover {
    color: #006745;
}

#address {
    text-decoration: none;
    color: #999999;
    font-family: Calibri, Arial;
    font-size: 1.1rem;
}

#address:hover {
    color: #006745;
}

#website {
    text-decoration: none;
    color: #999999;
    font-family: Calibri, Arial;
    font-size: 1.1rem;
}

#website:hover {
    color: #006745;
}

.slogan {
    width: 20%;
    float: right;
}

#copyright {
    background-color: #006745;
    padding: 2%;
    width: 100%;
    margin: 3% 0 0 0;
}

#copyright p {
    color: #ffffff;
    font-size: 70%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

/* Patient Page */

#back-button {
    background-color: #ffffff;
    border: 1px solid #006745;
    color: #006745;
    padding: 0.5% 2.5%;
    margin: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
}

#back-button:hover {
    background-color: #006745;
    color: #ffffff;
    cursor: pointer;
}

#form {
    font-family: Calibri, Arial;
    font-size: 1.2rem;
}

#patient-header {
    font-size: 1.75rem;
    font-size: 1.75rem;
    margin: 1%;
    font-family: Calibri, Arial;
}

#thank-you {
    font-family: Calibri, Arial;
    margin: 2% auto;
    text-align: center;
}

#patient-form {
    margin: 0 auto;
    text-align: center;
    border: 3px solid #006745;
    width: 80%;
}

#question-text {
    font-family: Calibri, Arial;
    margin-top: 4%;
    margin-bottom: 1.5%;
    font-weight: bold;
}

#btn-group {
    margin: 1%;
}

#btn-group label input {
    background-color: #ffffff;
    color: #006745;
    border: 1px solid #006745;
    text-align: center;
    padding: 0.5% 1%;
    margin: 0.1%;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    
}

#btn-group input:hover, #btn-group input:active, #btn-group input:focus {
    background-color: #006745;
    color: #ffffff;
    text-decoration: none;
}

#radio {
    margin: 1%;
}

/* Caregiver Page */

#caregiver-header {
    font-size: 1.75rem;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    font-family: Calibri, Arial;
}

#caregiver-form {
    margin: 0 auto;
    text-align: center;
    border: 3px solid #006745;
    width: 80%;
    font-family: Calibri, Arial;
}

#form-title {
    font-size: 1.35rem;
    font-family: Calibri, Arial;
    padding-top: 2%;
}

#patientinfo {
    font-weight: bold;
}

#patientinfo, label {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.1rem;
}

input[type="text"], input[type="email"], input[type="tel"] {
    border: 2px solid #006745;
    padding: 3px;
}

#patientname, #patientemail, #patientphone {
    width: 30%;
    margin: 1%;
    font-family: Calibri, Arial;
    font-size: 1.1rem;
}

#patientname:focus, #patientemail:focus, #patientphone:focus {
    background-color: #f2f2f2;
}

#comment-box {
    margin: 1%;
    overflow: hidden;
    width: 80%;
}

#form-hr {
    border: 1.5px solid #006745;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
}

#form-questions {
    margin: 0 auto;
    width: 80%;
    line-height: 1.6;
    display: inline-block;
    font-family: Calibri, Arial;
    font-size: 1.1rem;
}

#form-questions, input {
    margin: 2% 2%;
}

#form-answers, inputS {
    font-weight: normal;
    /* display: inline-block;
    margin: 0;
    text-align: left;
    width: 30%; This gets radio buttons in line with one another - must add breaks in html as well*/
}

/* Referral Source Page */

#referral-header {
    font-size: 1.75rem;
    font-size: 1.75rem;
    margin: 1%;
    font-family: Calibri, Arial;
}

#referral-form {
    margin: 0 auto;
    text-align: center;
    border: 3px solid #006745;
    width: 80%;
}

#submit-button {
    padding: 1.5% 4%;
    background-color: #ffffff;
    border: 2px solid #006745;
    font-family: Calibri, Arial;
    font-size: 1.2rem;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #006745;
    color: #ffffff;
}

#final-thanks {
    margin: 0 auto;
    text-align: center;
    font-size: 1.15rem;
    font-family: Calibri, Arial;
    padding-top: 2%;
}

#thanks-phone {
    text-decoration: none;
    color: black;
}

#thanks-phone:hover {
    color: #006745;
}


/* Test area  */

